os: linux
dist: xenial

language: java
jdk:
  - openjdk8
before_install:
  - chmod +x mvnw
#  - ./mvnw --version
#  - export MAVEN_OPTS="--no-transfer-progress"

# Improve Build Speed https://dzone.com/articles/travis-ci-tutorial-java-projects
cache:
  directories:
    - $HOME/.m2

addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10

services:
  - postgresql

before_script:
  - psql -c 'create database testdb;' -U postgres

script:
  - ./mvnw clean install -q -DargLine="-Dspring.datasource.password= -Dspring.jpa.show-sql=false -Dlogging.level.org.flywaydb=warn -Dlogging.level.org.springframework=warn -Dlogging.level.org.springframework.test.context.cache=warn -Dlogging.level.com.github.springtestdbunit=warn -Dlogging.level.org.dbunit.operation=warn -Dlogging.level.org.hibernate.sql=error -Dlogging.level.org.hibernate.type.descriptor.sql.BasicBinder=error -Dlogging.level.org.hibernate.type.EnumType=error"
#  - ./mvnw cobertura:cobertura -q -DskipTests=true

after_success:
  - bash <(curl -s https://codecov.io/bash)
