os: linux
dist: xenial

language: java
jdk:
  - oraclejdk8

addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10

services:
  - postgresql

before_script:
  - psql -c 'create database testdb;' -U postgres

script:
  - mvn cobertura:cobertura -DargLine="spring.datasource.password=" clean install

after_success:
  - bash <(curl -s https://codecov.io/bash)
