<div class="container-fluid">
    <h2>Предстоящие</h2>

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary" ng-click="clearSearch()">Clear Search</button>
        </div>
    </div>

    <div class="row">
        <br><br>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <caption>Предстоящие</caption>
        <thead>
        <tr>
            <!--<th scope="row" class="col-md-1 search">
                <button type="submit" class="btn btn-primary" ng-click="clearSearch()">Clear</button>
            </th>-->
            <th scope="row" class="col-md-1 search">
                <input class="form-control" placeholder="Fixture ID" type="text" ng-model="search.fixtureId">
            </th>
            <th scope="row" class="col-md-1 search">
                <input class="form-control" placeholder="League ID" type="text" ng-model="search.leagueId">
            </th>
            <th scope="row" class="col-md-2 search">
                <input class="form-control" placeholder="Round" type="text" ng-model="search.round">
            </th>
            <th scope="row" class="col-md-2 search">
                <input class="form-control" placeholder="Home Team" type="text" ng-model="search.homeTeam">
            </th>
            <th scope="row" class="col-md-2 search">
                <input class="form-control" placeholder="Away Team" type="text" ng-model="search.awayTeam">
            </th>
            <th scope="row" class="col-md-2 search">
                <input class="form-control" placeholder="Status" type="text" ng-model="search.status">
            </th>
            <th scope="row" class="col-md-1 search">
                <input class="form-control" placeholder="Final Score" type="text" ng-model="search.finalScore">
            </th>
            <th scope="row" class="col-md-1 search">
                <input class="form-control" placeholder="Event Date" type="text" ng-model="search.eventDate">
            </th>
        </tr>
        <tr>
            <!--<th scope="col">
                <input type="checkbox" class="form-check-input" id="checkAll" ng-change="checkAll()" ng-model="checkAllCheck">
            </th>-->
            <th scope="col">Fixture ID</th>
            <th scope="col">League ID</th>
            <th scope="col">Round</th>
            <th scope="col">Home Team</th>
            <th scope="col">Away Team</th>
            <th scope="col">Status</th>
            <th scope="col">Final Score</th>
            <th scope="col">Event Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="fixture in fixtures.content | filter:search">
            <!--<th scope="row">
                <input for="{{employee.id}}" type="checkbox" ng-model="selection.ids[employee.id]" name="group" id="check_{{employee.id}}" />
            </th>-->
            <td><a href ng-click="card('view', fixture.id)">{{fixture.id}}</a></td>
            <td>{{fixture.leagueId}}</td>
            <td>{{fixture.round}}</td>
            <td>{{fixture.homeTeam}}</td>
            <td>{{fixture.awayTeam}}</td>
            <td>{{fixture.status}}</td>
            <td>{{fixture.finalScore}}</td>
            <td>{{fixture.eventDate}}</td>
        </tr>
        </tbody>
    </table>
</div>