<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>Person List</title>
	<!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>
<body>
Личный кабинет
<nav>
	<ul>
		<li><a href="/">Главная</a></li>
		<li><a href="/kapper">Каппер</a></li>
		<li><a href="/userpage">Пользователь</a></li>
		<li><a href="/admin">Админ</a></li>
		<li><a href="/about">О проекте</a></li>
		<li><a href="/contacts">Контакты</a></li>
		<li><a>Личный кабинет</a></li>
	</ul>
</nav>

<br>

${userJSP}

</body>
</html>
